body {
    margin: 20px;
    /*
    Challenge:
    Find a web safe font you like, and add it 
    to your card.
    */
}

h2{
    font-family: "dancing script", serif;
    font-size: 30px;
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

.avatar {
    width: 150px;
}

.card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background-image: url(https://i.pinimg.com/564x/92/65/26/92652671cc982f3c77b7a3ce1a67e933.jpg);
    background-repeat: no-repeat;
    background-size: auto;
    color: #F0F0F0;
    border: 5px solid #7a7a7a;
    position: relative;
    isolation: isolate;
    /*
    Challenge:
    Find a color palette you like on Coolors.co
    and use it in your business card.
     */
}

.card::after {
    content:'';
    position: absolute;
    z-index: -1;
    inset: 0;
    background: black;
    opacity: 0.6;
}

.border-blue {
    border: 1px dotted blue;
}

/*
Stretch goals:
Find other ways you can personalize 
the design of your business card, e.g.:
- change the border(s)
- add border radius
- shuffle the layout
- shadows        🤯
- hover effects  🤯🤯
- animations     🤯🤯🤯
*/

/*
Final challenge:
Download the code to your local computer and place it
in a folder called "business-card"
*/
